<!doctype html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>
    <title>Creative Machines</title>
</head>

<body>
<div class="all-wrapper">
    <nav class="force-color navbar navbar-dark bg-dark navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" alt="Columbia logo" height="30px">
                Digital Printer
            </a>

            <div>
                <ul class="navbar-nav mr-auto"></ul>
                <div class="form-inline my-2 my-lg-0">
                </div>
            </div>

        </div>
    </nav>

    <div class="container padded">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>




